@import './variables.scss';


body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.float-right{
  float: right;
  margin: auto;
}

.menu-header{
  color: $theme-color-dark;
  font-weight: 600;
  font-size: 24px;
}

.success-background{
  background-color: $success-message-color !important;
}

.error-background{
  background-color: $error-message-color !important;
}